@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  min-height: 100vh;
  color: white;
  padding: 1rem;
}

.content-main {
  background-color: white;
  padding: 1rem;
  padding-left: 8rem;
  padding-right: 12rem;
  color: #333;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.content-main p {
  text-align: left;
  margin-bottom: 1em;
}

.logo-wrapper {
  width: 9.4rem;
  height: 3.13rem;
}

.logo-wrapper img {
  height: 100%;
  width: 100%;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
}

#login-form-button {
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  color: white;
  background: linear-gradient(180deg, #35d79f 0%, #1dbb7f 100%);
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

input {
  border: none;
  font-size: 1rem;
  margin-top: 0.5rem;
}

input:focus {
  outline: none;
}

label {
  font-weight: bold;
  font-size: 0.8rem;
}

#login-form-button:hover {
  filter: brightness(1.05);
  cursor: pointer;
}

#login-form-button:active {
  background-color: #2ecc97;
  cursor: pointer;
}

a {
  color: #2ecc97;
}

a:visited {
  color: #2ecc97;
}


.content-sidebar {
  background-color: rebeccapurple;
  padding: 1rem;
  color: white;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 1rem;
  }

  .content-main {
    grid-column: 1 / 2;
  }

  .content-sidebar {
    grid-column: 2 / -1;
  }
}
