.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.content-main {
  background-color: white;
  color: #333;
  padding: 1em;
  color: #333;
  height: 100%;
}

.content-menu ul {
  list-style-type: none;
  padding: 1em;
}

.content-menu {
  background: linear-gradient(
    180deg,
    rgba(53, 215, 159, 0.1) 0%,
    rgba(29, 187, 127, 0.1) 100%
  );
  padding: 1rem;
  color: #202020;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
  }
  .content-main {
    grid-column: 2 / -1;
  }

  .content-menu {
    grid-column: 1 / 2;
  }
}
