.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.container.menu-collapsed {
  grid-template-columns: 1fr;
}

.container.menu-collapsed .content-menu {
  display: none;
}

.container.menu-collapsed .content-main {
  grid-column: 1/-1;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    text-align: center;
    min-height: 100vh;
    color: white;
  }

  .container.menu-collapsed {
    grid-template-columns: 1fr;
  }

  .container.menu-collapsed .content-menu {
    display: none;
  }

  .container.menu-collapsed .content-main {
    grid-column: 1/-1;
  }
}
