.content-main {
  background-color: white;
  color: #333;
  padding: 1rem;
  min-height: 100vh;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.is-hidden {
  display: none;
}

@media (min-width: 768px) {
  .content-main {
    background-color: white;
    color: #333;
    padding: 1rem;
    min-height: 100vh;
    grid-column: 2 / -1;
  }
}
