@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  min-height: 100vh;
  color: white;
}

/*O z-index: 1 garante que o header e sua sombra sempre
  fiquem acima do restante do conteúdo.*/
.home-header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 5rem;
  z-index: 1;
  gap: 1rem;
}

.home-header-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.home-header-logo-title img {
  height: 2rem;
}

.home-header-logo-title h1 {
  color: #2ecc97;
}

#get-started-button {
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #2ecc97;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

#get-started-button:hover {
  background-color: #2abd8c;
  cursor: pointer;
}

#get-started-button:active {
  background-color: #2ecc97;
  cursor: pointer;
} 

.home-footer {
  grid-column: 1 / -1;
  background-color: #fda48e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: black;
  gap: 1rem;
}

.home-footer-logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-footer-logo-title img {
  filter: brightness(0);
}

.home-footer img {
  height: 2rem;
}

.home-footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

a:hover {
  cursor:pointer;
}

@media (min-width: 768px) {
  .header,
  .footer {
    grid-column: 1 / -1;
  }

  .home-header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 5rem;
  z-index: 1;
  gap: auto;
}
}
